# COMS 4111 project 1 part3

Teammates:
- Jace Yang (uni: jy3174)
- Binghong Yu (uni: by2325)

The UNI used to create the schema on the course database server: by2325

## 0. Environment Setup

In [10]:
!pip3 install sqlalchemy # ORM for databases
!pip3 install ipython-sql

Requirement already satisfied: sqlalchemy in /Users/jace/opt/anaconda3/envs/DL/coms4111p1/lib/python3.8/site-packages (1.4.35)
Requirement already satisfied: ipython-sql in /Users/jace/opt/anaconda3/envs/DL/coms4111p1/lib/python3.8/site-packages (0.4.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /Users/jace/opt/anaconda3/envs/DL/coms4111p1/lib/python3.8/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: prettytable<1 in /Users/jace/opt/anaconda3/envs/DL/coms4111p1/lib/python3.8/site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: six in /Users/jace/opt/anaconda3/envs/DL/coms4111p1/lib/python3.8/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython>=1.0 in /Users/jace/opt/anaconda3/envs/DL/coms4111p1/lib/python3.8/site-packages (from ipython-sql) (8.2.0)
Requirement already satisfied: sqlparse in /Users/jace/opt/anaconda3/envs/DL/coms4111p1/lib/python3.8/site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: sqlalchemy>=0.6.7 in /Users/jace/opt/anaconda3/envs/DL/coms4111p1/lib/python3.8/site-packages (from ipython-sql) (1.4.35)
Requirement already satisfied: backcall in /Users/jace/opt/anaconda3/envs/DL/coms4111p1/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: jedi>=0.16 in /Users/jace/opt/anaconda3/envs/DL/coms4111p1/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /Users/jace/opt/anaconda3/envs/DL/coms4111p1/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (3.0.29)
Requirement already satisfied: pexpect>4.3 in /Users/jace/opt/anaconda3/envs/DL/coms4111p1/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: pygments>=2.4.0 in /Users/jace/opt/anaconda3/envs/DL/coms4111p1/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (2.11.2)
Requirement already satisfied: pickleshare in /Users/jace/opt/anaconda3/envs/DL/coms4111p1/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: appnope in /Users/jace/opt/anaconda3/envs/DL/coms4111p1/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.1.3)
Requirement already satisfied: stack-data in /Users/jace/opt/anaconda3/envs/DL/coms4111p1/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in /Users/jace/opt/anaconda3/envs/DL/coms4111p1/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: setuptools>=18.5 in /Users/jace/opt/anaconda3/envs/DL/coms4111p1/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (61.2.0)
Requirement already satisfied: matplotlib-inline in /Users/jace/opt/anaconda3/envs/DL/coms4111p1/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.1.3)
Requirement already satisfied: decorator in /Users/jace/opt/anaconda3/envs/DL/coms4111p1/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /Users/jace/opt/anaconda3/envs/DL/coms4111p1/lib/python3.8/site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /Users/jace/opt/anaconda3/envs/DL/coms4111p1/lib/python3.8/site-packages (from pexpect>4.3->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in /Users/jace/opt/anaconda3/envs/DL/coms4111p1/lib/python3.8/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: asttokens in /Users/jace/opt/anaconda3/envs/DL/coms4111p1/lib/python3.8/site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)
Requirement already satisfied: executing in /Users/jace/opt/anaconda3/envs/DL/coms4111p1/lib/python3.8/site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: pure-eval in /Users/jace/opt/anaconda3/envs/DL/coms4111p1/lib/python3.8/site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)

In [11]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [12]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in /Users/jace/opt/anaconda3/envs/DL/coms4111p1/lib/python3.8/site-packages (2.9.3)

In [13]:
from sqlalchemy import *
SUBMIT = False

if not SUBMIT:
    DATABASEURI = "postgresql://jy3174:JaceYJH@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2"
    %sql postgresql://jy3174:JaceYJH@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
else:
    DATABASEURI = "postgresql://by2325:0316@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2"
    %sql postgresql://by2325:0316@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
engine = create_engine(DATABASEURI)

# Here we create a test table and insert some values in it
engine.execute("""DROP TABLE IF EXISTS test;""")
engine.execute("""CREATE TABLE IF NOT EXISTS test (
  id serial,
  name text
);""")
engine.execute("""INSERT INTO test(name) VALUES ('grace hopper'), ('alan turing'), ('ada lovelace');""")

## Testing

In [14]:
%%sql
SELECT * FROM test

 * postgresql://jy3174:***@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
3 rows affected.

[(1, 'grace hopper'), (2, 'alan turing'), (3, 'ada lovelace')]

In [24]:
def get_password(user_id):
    result = %sql SELECT * FROM USERS WHERE user_id = :user_id
    return result

## Prototype code

In [28]:
%%sql

SELECT * 
FROM Users_follow_Users LIMIT 5

 * postgresql://jy3174:***@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
5 rows affected.

[('wABHp4fGUC-0acRKhmQO2A', '0IgHCokoqcQETC5XBxxyPQ', datetime.date(2020, 3, 18)),
 ('wABHp4fGUC-0acRKhmQO2A', '51CT7lL6gaM_bThTGkoiAQ', datetime.date(2020, 3, 18)),
 ('GMlmxQolU4RX5Mw9Y2KRkg', 'VOh3bxuPjHlghVld39oIJw', datetime.date(2020, 7, 25)),
 ('V7ZazFPTA7VGWGhK8DguNQ', 'CPhxaED1KJSDLEMMua96yA', datetime.date(2019, 9, 17)),
 ('V7ZazFPTA7VGWGhK8DguNQ', 'xFs89_Cj1xIxSYQ2CNeefQ', datetime.date(2019, 9, 17))]

In [26]:
get_password('0IgHCokoqcQETC5XBxxyPQ')

 * postgresql://jy3174:***@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
1 rows affected.

[('0IgHCokoqcQETC5XBxxyPQ', 'Liz@inbox.com', 'Liz', 'LizxFfju', datetime.date(2014, 10, 19))]

In [36]:
%%sql

SELECT * 
FROM Users
LIMIT 5

 * postgresql://jy3174:***@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
5 rows affected.

[('STO9KprPS0pZVO75VX_bvA', 'Wim@qq.com', 'Wim', 'Wim#KE#4', datetime.date(2007, 2, 24)),
 ('BQX9nEi5q8KSqiiMs921Iw', 'Sara@inbox.com', 'Sara', 'Saraa@HW', datetime.date(2007, 7, 3)),
 ('ZuyxS4F2zdBMjghIj1auAA', 'Jenn@qq.com', 'Jenn', 'Jenn1Nnl', datetime.date(2006, 8, 25)),
 ('7x7SqqLaCASbpWeJZmQDUQ', 'YelpHatesMe@gmail.com', 'YelpHatesMe', 'YelpHatesMexy', datetime.date(2010, 3, 17)),
 ('PAc93PtEbYDtytBQ9Dyjug', 'Peg@outlook.com', 'Peg', 'Peg9D#9W', datetime.date(2010, 3, 28))]

In [41]:
%%sql

SELECT COUNT(DISTINCT fan_user_id) AS fans
FROM Users_follow_Users
WHERE follwee_user_id = 'sadf阿斯顿发生'

 * postgresql://jy3174:***@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
1 rows affected.

[(0,)]

In [ ]:
%%sql

WITH one_user_collections AS(
    SELECT user_id AS collection_owner_id, collection_id
    FROM Collection_of_User
    WHERE user_id = '9Xmw_WcUCShPD0qGO1UD7w')
SELECT collection_id, COUNT(CASE WHEN business_id = 'BXPyrf12pvtP6fXNvYZUeg' THEN 1 ELSE NULL END) AS biz_in
FROM one_user_collections 
JOIN Collection_contain_Business USING(collection_owner_id, collection_id)
GROUP BY collection_id
ORDER BY collection_id

   postgresql://by2325:***@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
 * postgresql://jy3174:***@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
7 rows affected.

[(1, 1), (2, 0), (3, 0), (4, 0), (5, 0), (6, 0), (7, 0)]

In [62]:
STARTS_OPTIONS = [(str(i/2), str(i/2) + ' stars' if i != 2 else str(i/2) + ' star') for i in list(range(11))]
STARTS_OPTIONS

[('0.0', '0.0 stars'),
 ('0.5', '0.5 stars'),
 ('1.0', '1.0 star'),
 ('1.5', '1.5 stars'),
 ('2.0', '2.0 stars'),
 ('2.5', '2.5 stars'),
 ('3.0', '3.0 stars'),
 ('3.5', '3.5 stars'),
 ('4.0', '4.0 stars'),
 ('4.5', '4.5 stars'),
 ('5.0', '5.0 stars')]

In [44]:
%%sql
SELECT * 
FROM Review_of_Business
WHERE business_id = ''
LIMIT 10

 * postgresql://jy3174:***@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
10 rows affected.

[(100000, datetime.date(2011, 8, 17), 'W4KiqVyRBY-AWbpT5nowhw', 'Used Groupon coupon', 0, None, None, None, None, None),
 (100001, datetime.date(2016, 8, 2), 'xuFjcrdGxISZVfLVl0mttA', 'Closed business on Aug 1. Matt the Millers is going to expand into their location.', 0, None, None, None, None, None),
 (100002, datetime.date(2014, 8, 19), 'u48EHQFGHF5FwDTqAFXVwQ', "the sauce wasn't on the entire pizza so I asked them to put some on the bare spots and they charged me $.50 then banned me from the restaurant. TIP: Just accept what you get", 0, None, None, None, None, None),
 (100003, datetime.date(2015, 7, 18), 'iVegX9epKU8R0eRAEwQ6Yg', 'Perfect margarita', 0, None, None, None, None, None),
 (100004, datetime.date(2014, 10, 31), 'zK2OGhkJqMj4pZsbSckSwA', 'Dobt expect much with pastry', 0, None, None, None, None, None),
 (100005, datetime.date(2013, 6, 29), '0LUpwcGAHu1pkn7p3rx-4Q', 'Royalty arrives this week. Three cheers and four stars for Smoothie King. Long live the King.', 0, None, None, None, None, None),
 (100006, datetime.date(2013, 7, 2), '0LUpwcGAHu1pkn7p3rx-4Q', 'Supersized smoothies with a first sip kick.', 0, None, None, None, None, None),
 (100007, datetime.date(2013, 7, 31), '0LUpwcGAHu1pkn7p3rx-4Q', 'Two listings in Yelp. Try the other one for reviews.', 0, None, None, None, None, None),
 (100008, datetime.date(2015, 4, 4), '2dJlhGobvIxvs8Oow0yPNw', 'Delicious food. Nice staff. Sesame chicken is the best.', 0, None, None, None, None, None),
 (100009, datetime.date(2016, 4, 22), '7PQi6YJivlKBnelSWJVX5g', 'Ask for Jen!', 0, None, None, None, None, None)]

In [63]:
%%sql
SELECT * 
FROM Users_write_Review
LIMIT 10

 * postgresql://jy3174:***@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
10 rows affected.

[('PAc93PtEbYDtytBQ9Dyjug', 100000),
 ('3QzCMHugcEGY7OjMAWvD5g', 100001),
 ('lTA3pXGwwEy5HZmz649vfQ', 100002),
 ('ESlbhXivKfrymFf-0saA7w', 100003),
 ('ESlbhXivKfrymFf-0saA7w', 100004),
 ('-G7Zkl1wIWBBmD0KRy_sCw', 100005),
 ('-G7Zkl1wIWBBmD0KRy_sCw', 100006),
 ('-G7Zkl1wIWBBmD0KRy_sCw', 100007),
 ('Ldgxr2waTbdG9m0glhhKlA', 100008),
 ('iMMn1s-YJSRHtvEQMkxOGQ', 100009)]

In [ ]:

SELECT collection_id, COUNT(CASE WHEN business_id = 'BXPyrf12pvtP6fXNvYZUeg' THEN 1 ELSE 0 END)
FROM one_user_collections 
JOIN Collection_contain_Business USING(collection_owner_id, collection_id)
GROUP BY collection_id

In [78]:
%%sql
SELECT *
FROM Users_write_Review
WHERE user_id = 'n5pZpeQE-ASr1aQx81mKVQ'

 * postgresql://jy3174:***@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
6 rows affected.

[('n5pZpeQE-ASr1aQx81mKVQ', 100064),
 ('n5pZpeQE-ASr1aQx81mKVQ', 1),
 ('n5pZpeQE-ASr1aQx81mKVQ', 100227),
 ('n5pZpeQE-ASr1aQx81mKVQ', 100228),
 ('n5pZpeQE-ASr1aQx81mKVQ', 100229),
 ('n5pZpeQE-ASr1aQx81mKVQ', 100230)]

In [77]:
%%sql

DELETE FROM Review_of_Business
WHERE review_id = 100231

 * postgresql://jy3174:***@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
1 rows affected.

[]

In [85]:
(1, )[0]

1

In [ ]:
%%sql
SELECT *
FROM Users_write_Review
WHERE user_id = 'n5pZpeQE-ASr1aQx81mKVQ'
LIMIT 5

In [ ]:
DB_USER = "jy3174"
DB_PASSWORD = "JaceYJH"
DB_SERVER = "w4111.cisxo09blonu.us-east-1.rds.amazonaws.com"
#DATABASEURI = "postgresql://"+DB_USER+":"+DB_PASSWORD+"@"+DB_SERVER+"/w4111"
DATABASEURI = "postgresql://"+DB_USER+":"+DB_PASSWORD+"@"+DB_SERVER+"/proj1part2"
engine = create_engine(DATABASEURI)
con = engine.connect()

In [ ]:
import secrets
def add_user_to_db(email, name, password, user_id=None, yealping_since=None):
    if not user_id:
        user_id = secrets.token_hex(11)
    if not yealping_since:
        yealping_since = date.today().strftime("%Y-%m-%d")

    con.execute('''
        INSERT INTO Users (user_id, email, name, password, yealping_since) 
        VALUES (%s, %s, %s, %s, %s)''',
    (user_id, email, name, password, yealping_since))

In [ ]:
add_user_to_db('123@gmail.com', 'Jace', '12345678')

In [66]:
%%sql
SELECT * 
FROM Users
WHERE name = 'Harrison'

 * postgresql://jy3174:***@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
1 rows affected.

[('n5pZpeQE-ASr1aQx81mKVQ', 'Harrison@gmail.com', 'Harrison', 'Harrison3E', datetime.date(2007, 4, 15))]

In [ ]:
%%sql
SELECT * FROM 
Users WHERE user_id = 'n5pZpeQE-ASr1aQx81mKVQ'

   postgresql://by2325:***@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
 * postgresql://jy3174:***@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
1 rows affected.

[('n5pZpeQE-ASr1aQx81mKVQ', 'Harrison@gmail.com', 'Harrison', 'Harrison3E', datetime.date(2007, 4, 15))]